<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Especificar endereço que será executado o browser Chrome em modo DEBUG-->
    <add key="DebuggerAddress" value="127.0.0.1:9222"/>
    
    <!-- Especificar o endereço do Selenium hub -->
    <add key="UriRemoteWebDriver" value="http://localhost:5555/wd/hub"/>
  </appSettings>
</configuration>